$editable: palegreen;
$editable-bg: palegreen;
$editable-action: green;

.row {
  justify-content: center;
  max-width: 1000px;
  margin: auto ;
}

.section {
  position: relative;
  border: black 2px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 25px 5px;
  margin-bottom: 0;
  max-width: 500px;
}

.restaurant_title {
  @extend .editable;
  text-align: center;
}

.section_title {
  @extend .editable;
  position: absolute;
  top: -0.9rem;
  background-color: white;
  padding: 0 10px;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: auto !important;
}

.editable {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  &:focus,
  &:hover {
    background-color: $editable !important;
  }
}

.clickable {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  svg:hover {
    fill: $editable;
  }
}

.add_button {
  font-weight: bold;
  background-color: $editable;
  border: 2px black solid;
  border-radius: 25px;
}

.button_wrapper {
  margin-top: 5px;
  display: flex;
  // flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}



.cooked {
  margin: 1rem 0;
}

.tooltip_info {
  margin-right: 15px;
  background-color: $editable;
  padding: 5px;
  border: 1px black solid;
  position: relative;
  &:hover {
    box-shadow: 1px 1px gray;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    right: -8px;

    top: 7px;
  }
}

.action_button {
  color: black;
  border: 2px black solid;
  border-radius: 5px;
  background-color: $editable;
  margin: 20px;

  &:hover {
    box-shadow: 2px 2px gray;
  }
}
