$editable: palegreen;
$editable-bg: palegreen;
$editable-action: green;

.row {
  max-width: 1000px;
  margin: auto;
}

.restaurant {
  @extend .row;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem;
}

.section {
  position: relative;
  border: black 2px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 25px 5px;
  margin-bottom: 0;
  max-width: 500px;
}

.restaurant_title {
  @extend .editable;
  text-align: center;
}

.section_title {
  @extend .editable;
  position: absolute;
  top: -0.9rem;
  background-color: white;
  padding: 0 10px;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  width: auto !important;
}

.editable {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  &:focus,
  &:hover {
    background-color: $editable !important;
  }
}

.clickable {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  svg:hover {
    fill: $editable;
  }
}

.add_button {
  font-weight: bold;
  background-color: $editable;
  border: 2px black solid;
  border-radius: 25px;
}

.button_wrapper {
  margin-top: 5px;
  display: flex;
  // flex-direction: column;
  justify-content: end;
  align-content: center;
}

.item {
  @extend .row;
  margin: 5px 0;
}

.title {
  @extend .item;
  @extend .editable;
  font-size: 1rem;
  font-weight: 700;
}

.desc {
  @extend .item;
  @extend .editable;
  font-size: 0.8em;
  font-style: italic;
}

.price {
  @extend .item;
  @extend .editable;
  font-size: 0.8em;
  text-align: right;
  max-width: 25px;
  margin-left: 5px;
}

.qr > svg {
  margin-top: 1rem;
  width: 200px;
}

.cooked {
  margin: 1rem 0;
}
