.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.flag_dropdown {
  div {
    min-width: 80px;
  }
}

.flag_selected {
  margin-left: 5px;
}