$editable: palegreen;   



.sections {
    .row {
      justify-content: center;
      max-width: 1000px;
      margin: auto ;
    }

    .restaurant {
        @extend .row;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.75rem;
    }

    .section {
      position: relative;
      border: black 2px solid;
      border-radius: 5px;
      padding: 5px;
      margin: 25px 5px;
      margin-bottom: 0;
      max-width: 500px;
    }

    .section_title {
      position: absolute;
      top: -0.9rem;
      background-color: white;
      padding: 0 10px;
      font-weight: 900;
      font-size: 1.1rem;
      text-transform: uppercase;
      width: auto !important;
    }

    .item {
        @extend .row;
        margin: 5px 0;
    }
    .title {
        @extend .item;
        font-size: 1rem;
        font-weight: 700;
      }
      
      .desc {
        @extend .item;
        font-size: 0.8em;
        font-style: italic;
      }
      
      .price {
        @extend .item;
        font-size: 0.8em;
        text-align: right;
        max-width: 25px;
        margin-left: 5px;
      }
      
      .qr > svg {
        margin-top: 1rem;
        width: 200px;
      }
}